@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">GASOLIN</h1>
    <p>Vi har lavet denne hjemmeside, til ære for Gasoline</p>
</div>
<div class="music-note-container">
    <div class="music-note">♫</div>
    <div class="music-note">♫</div>
    <div class="music-note">♫</div>
    <div class="music-note">♫</div>
    <div class="music-note">♫</div>
   
</div>
<div>
    <iframe id="Musikvideo" autoplay muted loop control
            style="width: 650px; height: 330px;"
            src="https://www.youtube.com/embed/6zwGgt07ZeY?si=dc_DfT4iIX-2Et45"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
    </iframe>
</div>

